.footer {
}
.footer .inner {
}
.footer-top {
  background: #1e1e1e;
  padding: 30px 0;
}
.footer-top-info {
}
.footer-top-sitemap {
}
@media all and (max-width: 1024px) {
}
.footer-bottom {
  background: #191919;
  padding: 30px 0;
}
.footer-bottom-copyright {
}
.footer-bottom-sns {
}

@media all and (max-width: 1024px) {
}
