.header {
  display: block;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e5e6;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: calc(100% - 30px);
  max-width: 1170px;
  height: 70px;
  margin: 0 auto;
}

.header-logo {
}

.header-logo-link {
  display: flex;
  align-items: center;
}
.header-logo-img {
  width: 88px;
  height: 22px;
  margin-right: 5px;
}
.header-logo-slide {
}
.header-logo-slide img {
  width: 68px;
  height: 31px;
}
.header-navi {
}
.navi-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navi-list li {
}
.navi-list li a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 700;
}

.navi-list li a:hover {
  color: #1f24ff;
}

.navi-list li a img {
  width: 24px;
  height: 24px;
}
.mobile-menu {
  display: none;
}

/* 반응형 */
@media all and (max-width: 1024px) {
  .navi-list {
    gap: 15px;
  }
  .navi-list li {
    display: none;
  }
  .mobile-menu,
  .navi-search {
    display: block !important;
  }
}
