.footer {
}
.footer .inner {
  height: auto;
}
.footer-top {
  padding: 30px 0;
  background: #1e1e1e;
}
.footer-top-info {
}
.footer-logo {
  width: 121px;
  height: 20px;
  display: block;
  margin-bottom: 30px;
}
.footer-logo img {
  width: 100%;
  height: auto;
}

.footer-top-info-desc {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #999999;
}

.bt-orange {
  display: inline-block !important;
  border: 1px solid #fec62c !important;
  background: #fec62c !important;
  color: #1e1e1e !important;
}

.footer-top-sitemap {
  display: flex;
  gap: 80px;
}

.footer-top-sitemap dl {
  width: 50%;
}

.footer-top-sitemap dl dt {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.footer-top-sitemap dl dd {
  margin-bottom: 30px;
}

.footer-top-sitemap dl dd a {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  white-space: nowrap;
}

.footer-top-sitemap dl dd a:hover {
  text-decoration: underline;
}

.rot-45 {
  transform: rotate(45deg);
}

@media all and (max-width: 1024px) {
  .footer .inner {
    flex-wrap: wrap;
  }
  .footer-top-info {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer-top-sitemap {
    width: 100%;
  }
}

.footer-bottom {
  padding: 30px 0;
  background: #191919;
}
.footer-bottom-copyright {
}
.copy {
  font-size: 14px;
  color: #666666;
}
.footer-bottom-sns {
}
.sns-list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.sns-list li {
}
.sns-list li a {
  font-size: 24px;
  color: #807f80;
}
.sns-list li a:hover {
  color: #cccccc;
}

@media all and (max-width: 1024px) {
  .footer-bottom-copyright {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-bottom-sns {
    width: 100%;
  }
}
